.entry {
    position: relative;
    text-align: center;

    &__label {
        color: $white-smoke;
        font-size: 1.1rem;
    }

    &__form {
        position: absolute;
        top: 35%;
        transform: translateY(-35%);    
        left: 0;
        width: 100%;
    }

    &__text, &__date {
        margin: auto;
    }

    &__submit {
        background-color: $columbia-blue;
        color: $paynes-grey;
        border: 0;
        padding: .25rem 1rem;
        display: inline-block;
    }
}