<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700' rel='stylesheet'>
    <title>Travel Planner</title>
</head>
<body>
    <header class="header container">
        <img class="header__logo" src="../media/travel-planner.svg">
        <h1 class="header__title">Travel Planner</h1>
    </header>
    <section class="entry">
        <form onsubmit="return Client.handleSubmit(event)">
            <label for="destination">Destination:</label>
            <input class="entry__text" type="text" id="destination" name="destination" required>
            <label for="departure">Departure Date:</label>
            <input type="date" id="departure" name="departure" required>
            <input class="entry__submit" type="submit" value="Submit" onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)">
        </form>
    </section>
    <section class="results">
        <div>
            <p id="trip-date"></p>
            <p id="summary"></p>
            <p id="high-temp"></p>
            <p id="low-temp"></p>
            <div id="picture"></div>
        </div>
    </section>
    <footer class="results">
        <h2>Footer</h2>
        <p>Copyright</p>
    </footer>
</body>
</html>