<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700' rel='stylesheet'>
    <title>Travel Planner</title>
</head>
<body>
    <header class="header container">
        <img class="header__logo" src="../media/travel-planner.svg">
        <h1 class="header__title">Travel Planner</h1>
    </header>
    <section class="entry">
        <img src="../media/travel-planner_1280.jpg" >   
        <form class="entry__form" onsubmit="return Client.handleSubmit(event)">
            <label class="entry__label" for="destination">Destination:</label>
            <input class="entry__text" type="text" id="destination" name="destination" required>
            <label class="entry__label" for="departure">Departure Date:</label>
            <input class="entry__date" type="date" id="departure" name="departure" required>
            <input class="entry__submit" type="submit" value="Submit" onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)">
        </form>
    </section>
    <section class="results">
        <div>
            <p id="results__date"></p>
            <p id="results__summary"></p>
            <p id="results__high"></p>
            <p id="results__low"></p>
            <div id="results__picture"></div>
        </div>
    </section>
    <footer class="footer container">
        <p class="footer__text">Copyright</p>
    </footer>
</body>
</html>